<!-- Navbar -->
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">KILOMUX MANAGEMENT</a>
    </div>

    <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
        <h1 id="time"></h1>
    </ul>
</div>
<!-- /navbar -->